body {
    font-family: Consolas, Consolas, sans-serif;
    font-size: 20px;
}

.searchRows {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 10px 10px 10px;
    width: 49%;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    display: grid;
    justify-content: center;
    align-items: center;
}
